# Solutions to Lesson 2

## Lab 2 Solution

This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).

In [1]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', 'data', 'ozone.csv'))

In [2]:
os.path.join('..', 'data', 'ozone.csv')

'../data/ozone.csv'

In [3]:
data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

[5 rows x 6 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)

Print the column names of the dataset to the screen, one column name per line.

In [6]:
for column in data.columns:
    print column

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [9]:
tmp = data.iloc[:2] # or data.head(2)
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

[2 rows x 6 columns]

How many observations (i.e. rows) are in this data frame?

In [10]:
len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [10]:
tmp = data.tail(2)
# or: tmp = data.iloc[-2:]
tmp.head()

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [15]:
data.iloc[46, :].to_frame()

            46
Ozone     21.0
Solar.R  191.0
Wind      14.9
Temp      77.0
Month      6.0
Day       16.0

[6 rows x 1 columns]

In [13]:
data.loc[46, 'Ozone']

21.0

In [ ]:
data.ix[46,'Ozone']

How many missing values are in the Ozone column of this data frame?

In [17]:
data['Ozone'].isnull().sum() # Because True = 1, False = 0!

37

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)

In [20]:
len(data) - len(data['Ozone'].dropna())

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [17]:
%precision 2
data['Ozone'].mean()

42.13

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of "Solar.R" in this subset?

In [21]:
data[(data.Ozone > 31) & (data.Temp > 90)].head()

     Ozone  Solar.R  Wind  Temp  Month  Day
68      97      267   6.3    92      7    8
69      97      272   5.7    92      7    9
119     76      203   9.7    97      8   28
120    118      225   2.3    94      8   29
121     84      237   6.3    96      8   30

[5 rows x 6 columns]

In [22]:
data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

212.80000000000001

What is the mean of "Temp" when "Month" is equal to 6?

In [23]:
data[data.Month==6].Temp.mean()

79.099999999999994

In [21]:
data.loc[data.Month==6, 'Temp'].mean()

79.10

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [26]:
data.loc[data.Month==5, 'Ozone'].max()

115.0